In [1]:
#Imports
import numpy as np
import pandas as pd
import sklearn
from sklearn import linear_model
import operator

In [2]:
columns_name = ["timestamp","placement_id","browser_id","os_id","region","country","is_adserver","campaign",
                "creative_asset_id","mouseovers","clicks","max_duration","video_length","viewable"]

In [3]:
df_train = pd.read_table('code-test0000_part_00',sep="|",names=columns_name)
# df_test = pd.read_table(test,sep="|",names=columns_name,header=None)

In [4]:
df_train

,timestamp,placement_id,browser_id,os_id,region,country,is_adserver,campaign,creative_asset_id,mouseovers,clicks,max_duration,video_length,viewable
0,2015-10-25 00:00:00,4729,16,2,CA,US,0,326815,16640,1,0,NaN,NaN,1
1,2015-10-25 00:00:00,6427,4,5,MD,US,0,328135,13492,0,0,NaN,NaN,1
2,2015-10-25 00:00:00,5864,3,3,NY,US,0,327947,12450,0,0,NaN,NaN,0
3,2015-10-25 00:00:00,572,13,2,MO,US,0,326815,16640,0,0,NaN,NaN,1
4,2015-10-25 00:00:00,6245,3,2,FL,US,0,327703,13366,0,0,NaN,NaN,0
5,2015-10-25 00:00:00,4729,13,2,KS,US,0,326815,16639,0,0,NaN,NaN,1
6,2015-10-25 00:00:00,4729,13,2,TN,US,0,328639,16101,0,0,NaN,NaN,0
7,2015-10-25 00:00:00,4729,3,2,TX,US,0,326815,16640,0,0,NaN,NaN,1
8,2015-10-25 00:00:00,5819,2,2,NC,US,0,328025,11139,0,0,NaN,NaN,1
9,2015-10-25 00:00:00,4729,13,2,GA,US,0,326815,16639,0,0,NaN,NaN,1
10,2015-10-25 00:00:00,572,3,8,VA,US,0,326611,10908,1,0,NaN,NaN,1
11,2015-10-25 00:00:00,6419,3,2,CA,US,0,326431,10715,0,0,NaN,NaN,0
12,2015-10-25 00:00:00,5997,3,2,MN,US,0,327711,13409,0,0,NaN,NaN,0
13,2015-10-25 00:00:00,5896,3,2,PA,US,0,328510,15352,0,0,NaN,NaN,0
14,2015-10-25 00:00:00,4824,13,2,NY,US,0,328339,12478,0,0,NaN,NaN,1
15,2015-10-25 00:00:00,4729,3,2,MO,US,0,326815,16640,0,0,NaN,NaN,0
16,2015-10-25 00:00:00,1662,3,2,CA,US,0,328425,13706,0,0,NaN,NaN,0
17,2015-10-25 00:00:00,5188,3,2,OH,US,0,326815,16642,0,0,NaN,NaN,1
18,2015-10-25 00:00:01,4729,16,2,OH,US,0,326815,16639,1,0,NaN,NaN,1
19,2015-10-25 00:00:01,4729,3,2,WI,US,0,326815,16642,0,0,NaN,NaN,0
20,2015-10-25 00:00:01,4729,2,8,PA,US,0,326815,16640,0,0,NaN,NaN,0
21,2015-10-25 00:00:01,2780,3,2,TX,US,0,327661,10381,0,0,NaN,NaN,0
22,2015-10-25 00:00:01,6227,13,2,CA,US,0,326431,10708,0,0,NaN,NaN,0
23,2015-10-25 00:00:01,5085,4,5,IN,US,0,323670,5780,0,0,NaN,NaN,1
24,2015-10-25 00:00:01,4729,3,2,NJ,US,0,326815,16639,0,0,NaN,NaN,0
25,2015-10-25 00:00:01,5188,3,4,TX,US,0,326815,16642,0,0,NaN,NaN,0
26,2015-10-25 00:00:01,4729,3,2,WA,US,0,326815,16640,0,0,NaN,NaN,0
27,2015-10-25 00:00:01,572,4,8,VA,US,0,326815,16642,0,0,NaN,NaN,1
28,2015-10-25 00:00:01,3724,4,5,TX,US,0,327661,10380,0,0,NaN,NaN,0
29,2015-10-25 00:00:01,3750,15,0,NaN,NaN,0,327703,13366,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032646,2015-10-25 23:59:59,5997,4,8,GA,US,0,328060,13863,0,0,NaN,NaN,0
1032647,2015-10-25 23:59:59,4729,3,2,PA,US,0,326815,16642,0,0,NaN,NaN,1
1032648,2015-10-25 23:59:59,5500,3,3,CO,US,0,328193,14211,0,0,NaN,NaN,1
1032649,2015-10-25 23:59:59,5997,3,10,WV,US,0,328060,13865,0,0,NaN,NaN,0
1032650,2015-10-25 23:59:59,4729,3,2,GA,US,0,326815,16640,0,0,NaN,NaN,0
1032651,2015-10-25 23:59:59,5997,3,8,PA,US,0,328060,13862,0,0,NaN,NaN,0
1032652,2015-10-25 23:59:59,4729,3,2,NY,US,0,326815,16642,0,0,NaN,NaN,0
1032653,2015-10-25 23:59:59,5911,3,2,SC,US,0,328060,13863,0,0,NaN,NaN,0
1032654,2015-10-25 23:59:59,5997,4,8,FL,US,0,328060,13864,0,0,NaN,NaN,0
1032655,2015-10-25 23:59:59,4729,16,2,GA,US,0,328639,16101,0,0,NaN,NaN,1
1032656,2015-10-25 23:59:59,4729,16,2,WI,US,0,326815,16642,0,0,NaN,NaN,1
1032657,2015-10-25 23:59:59,3724,13,2,PA,US,0,328133,13489,0,0,NaN,NaN,0
1032658,2015-10-25 23:59:59,5542,4,5,UT,US,0,328591,15255,0,0,NaN,NaN,0
1032659,2015-10-25 23:59:59,5985,3,3,OK,US,0,328639,16100,0,0,NaN,NaN,0
1032660,2015-10-25 23:59:59,4729,13,2,OH,US,0,326815,16639,0,0,NaN,NaN,1
1032661,2015-10-25 23:59:59,5188,3,8,NJ,US,0,326815,16642,0,0,NaN,NaN,0
1032662,2015-10-25 23:59:59,4729,3,2,IA,US,0,326815,16643,0,0,NaN,NaN,1
1032663,2015-10-25 23:59:59,4729,3,2,CA,US,0,326815,16643,0,0,NaN,NaN,0
1032664,2015-10-25 23:59:59,6419,13,2,CA,US,0,326005,10053,0,0,NaN,NaN,1
1032665,2015-10-25 23:59:59,4729,2,2,NY,US,0,326815,16640,0,0,NaN,NaN,1
1032666,2015-10-25 23:59:59,4729,3,2,IL,US,0,326815,16640,0,0,NaN,NaN,0
1032667,2015-10-25 23:59:59,4729,11,2,TX,US,0,326815,16640,1,0,NaN,NaN,1
1032668,2015-10-25 23:59:59,4729,13,2,PA,US,0,326815,16642,0,0,NaN,NaN,0
1032669,2015-10-25 23:59:59,5997,4,8,OH,US,0,328060,13863,0,0,NaN,NaN,0
1032670,2015-10-25 23:59:59,4729,12,2,AR,US,0,326815,16639,0,0,NaN,NaN,0
1032671,2015-10-25 23:59:59,5997,16,2,DC,US,0,328060,13864,0,0,NaN,NaN,0
1032672,2015-10-25 23:59:59,5997,4,8,TX,US,0,328060,13864,0,0,NaN,NaN,0
1032673,2015-10-25 23:59:59,6419,13,2,LA,US,0,326005,10053,0,0,NaN,NaN,1
1032674,2015-10-25 23:59:59,4729,3,2,IL,US,0,326815,16642,1,0,NaN,NaN,1
1032675,2015-10-25 23:59:59,5896,13,2,FL,US,0,326815,16643,0,0,NaN,NaN,0

In [5]:
df_train.info()
# df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032676 entries, 0 to 1032675
Data columns (total 14 columns):
timestamp            1032676 non-null object
placement_id         1032676 non-null int64
browser_id           1032676 non-null int64
os_id                1032676 non-null int64
region               1011546 non-null object
country              1028503 non-null object
is_adserver          1032676 non-null int64
campaign             1032676 non-null int64
creative_asset_id    1032676 non-null int64
mouseovers           1032676 non-null int64
clicks               1032676 non-null int64
max_duration         23 non-null float64
video_length         23 non-null float64
viewable             1032676 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 118.2+ MB

In [6]:
df_train.drop(["is_adserver","max_duration","video_length"],axis=1,inplace=True)
# df_test.drop(["is_adserver","max_duration","video_length"],axis=1,inplace=True)

In [7]:
df_train

,timestamp,placement_id,browser_id,os_id,region,country,campaign,creative_asset_id,mouseovers,clicks,viewable
0,2015-10-25 00:00:00,4729,16,2,CA,US,326815,16640,1,0,1
1,2015-10-25 00:00:00,6427,4,5,MD,US,328135,13492,0,0,1
2,2015-10-25 00:00:00,5864,3,3,NY,US,327947,12450,0,0,0
3,2015-10-25 00:00:00,572,13,2,MO,US,326815,16640,0,0,1
4,2015-10-25 00:00:00,6245,3,2,FL,US,327703,13366,0,0,0
5,2015-10-25 00:00:00,4729,13,2,KS,US,326815,16639,0,0,1
6,2015-10-25 00:00:00,4729,13,2,TN,US,328639,16101,0,0,0
7,2015-10-25 00:00:00,4729,3,2,TX,US,326815,16640,0,0,1
8,2015-10-25 00:00:00,5819,2,2,NC,US,328025,11139,0,0,1
9,2015-10-25 00:00:00,4729,13,2,GA,US,326815,16639,0,0,1
10,2015-10-25 00:00:00,572,3,8,VA,US,326611,10908,1,0,1
11,2015-10-25 00:00:00,6419,3,2,CA,US,326431,10715,0,0,0
12,2015-10-25 00:00:00,5997,3,2,MN,US,327711,13409,0,0,0
13,2015-10-25 00:00:00,5896,3,2,PA,US,328510,15352,0,0,0
14,2015-10-25 00:00:00,4824,13,2,NY,US,328339,12478,0,0,1
15,2015-10-25 00:00:00,4729,3,2,MO,US,326815,16640,0,0,0
16,2015-10-25 00:00:00,1662,3,2,CA,US,328425,13706,0,0,0
17,2015-10-25 00:00:00,5188,3,2,OH,US,326815,16642,0,0,1
18,2015-10-25 00:00:01,4729,16,2,OH,US,326815,16639,1,0,1
19,2015-10-25 00:00:01,4729,3,2,WI,US,326815,16642,0,0,0
20,2015-10-25 00:00:01,4729,2,8,PA,US,326815,16640,0,0,0
21,2015-10-25 00:00:01,2780,3,2,TX,US,327661,10381,0,0,0
22,2015-10-25 00:00:01,6227,13,2,CA,US,326431,10708,0,0,0
23,2015-10-25 00:00:01,5085,4,5,IN,US,323670,5780,0,0,1
24,2015-10-25 00:00:01,4729,3,2,NJ,US,326815,16639,0,0,0
25,2015-10-25 00:00:01,5188,3,4,TX,US,326815,16642,0,0,0
26,2015-10-25 00:00:01,4729,3,2,WA,US,326815,16640,0,0,0
27,2015-10-25 00:00:01,572,4,8,VA,US,326815,16642,0,0,1
28,2015-10-25 00:00:01,3724,4,5,TX,US,327661,10380,0,0,0
29,2015-10-25 00:00:01,3750,15,0,NaN,NaN,327703,13366,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1032646,2015-10-25 23:59:59,5997,4,8,GA,US,328060,13863,0,0,0
1032647,2015-10-25 23:59:59,4729,3,2,PA,US,326815,16642,0,0,1
1032648,2015-10-25 23:59:59,5500,3,3,CO,US,328193,14211,0,0,1
1032649,2015-10-25 23:59:59,5997,3,10,WV,US,328060,13865,0,0,0
1032650,2015-10-25 23:59:59,4729,3,2,GA,US,326815,16640,0,0,0
1032651,2015-10-25 23:59:59,5997,3,8,PA,US,328060,13862,0,0,0
1032652,2015-10-25 23:59:59,4729,3,2,NY,US,326815,16642,0,0,0
1032653,2015-10-25 23:59:59,5911,3,2,SC,US,328060,13863,0,0,0
1032654,2015-10-25 23:59:59,5997,4,8,FL,US,328060,13864,0,0,0
1032655,2015-10-25 23:59:59,4729,16,2,GA,US,328639,16101,0,0,1
1032656,2015-10-25 23:59:59,4729,16,2,WI,US,326815,16642,0,0,1
1032657,2015-10-25 23:59:59,3724,13,2,PA,US,328133,13489,0,0,0
1032658,2015-10-25 23:59:59,5542,4,5,UT,US,328591,15255,0,0,0
1032659,2015-10-25 23:59:59,5985,3,3,OK,US,328639,16100,0,0,0
1032660,2015-10-25 23:59:59,4729,13,2,OH,US,326815,16639,0,0,1
1032661,2015-10-25 23:59:59,5188,3,8,NJ,US,326815,16642,0,0,0
1032662,2015-10-25 23:59:59,4729,3,2,IA,US,326815,16643,0,0,1
1032663,2015-10-25 23:59:59,4729,3,2,CA,US,326815,16643,0,0,0
1032664,2015-10-25 23:59:59,6419,13,2,CA,US,326005,10053,0,0,1
1032665,2015-10-25 23:59:59,4729,2,2,NY,US,326815,16640,0,0,1
1032666,2015-10-25 23:59:59,4729,3,2,IL,US,326815,16640,0,0,0
1032667,2015-10-25 23:59:59,4729,11,2,TX,US,326815,16640,1,0,1
1032668,2015-10-25 23:59:59,4729,13,2,PA,US,326815,16642,0,0,0
1032669,2015-10-25 23:59:59,5997,4,8,OH,US,328060,13863,0,0,0
1032670,2015-10-25 23:59:59,4729,12,2,AR,US,326815,16639,0,0,0
1032671,2015-10-25 23:59:59,5997,16,2,DC,US,328060,13864,0,0,0
1032672,2015-10-25 23:59:59,5997,4,8,TX,US,328060,13864,0,0,0
1032673,2015-10-25 23:59:59,6419,13,2,LA,US,326005,10053,0,0,1
1032674,2015-10-25 23:59:59,4729,3,2,IL,US,326815,16642,1,0,1
1032675,2015-10-25 23:59:59,5896,13,2,FL,US,326815,16643,0,0,0

In [8]:
df_train = df_train.fillna('-1')
# df_test = df_test.fillna('-1')

In [9]:
df_train.info()
# df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032676 entries, 0 to 1032675
Data columns (total 11 columns):
timestamp            1032676 non-null object
placement_id         1032676 non-null int64
browser_id           1032676 non-null int64
os_id                1032676 non-null int64
region               1032676 non-null object
country              1032676 non-null object
campaign             1032676 non-null int64
creative_asset_id    1032676 non-null int64
mouseovers           1032676 non-null int64
clicks               1032676 non-null int64
viewable             1032676 non-null int64
dtypes: int64(8), object(3)
memory usage: 94.5+ MB

In [10]:
# Y_train = df_train([])
# X_train = df_train.drop(["clic"])
mask=df_train["country"]=="US"
np.unique(df_train[mask].region)

array(['-1', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'ENG',
       'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'ON', 'OR', 'OXF', 'PA', 'PTF',
       'QC', 'QLD', 'RI', 'SC', 'SD', 'SP', 'STT', 'SWA', 'TN', 'TX', 'UT',
       'VA', 'VIC', 'VT', 'WA', 'WB', 'WDU', 'WI', 'WKF', 'WKO', 'WLL',
       'WLV', 'WOR', 'WRL', 'WRT', 'WSX', 'WV', 'WX', 'WY', 'Y', 'YOR'], dtype=object)

In [11]:
tfa = np.vstack(df_train.timestamp.astype(str).apply(lambda x: list(map(str, [x[11:13],x[14:16],x[17:19]]))))
df_train['hours'] = tfa[:,0]
df_train['minute'] = tfa[:,1]
df_train['seconds'] = tfa[:,2]
df_train = df_train.drop(['timestamp'], axis=1)

In [15]:
df_train = df_train.drop(['timestamp'], axis=1)

In [16]:
com = list(df_train.columns)

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032676 entries, 0 to 1032675
Data columns (total 13 columns):
placement_id         1032676 non-null int64
browser_id           1032676 non-null int64
os_id                1032676 non-null int64
region               1032676 non-null object
country              1032676 non-null object
campaign             1032676 non-null int64
creative_asset_id    1032676 non-null int64
mouseovers           1032676 non-null int64
clicks               1032676 non-null int64
viewable             1032676 non-null int64
hours                1032676 non-null object
minute               1032676 non-null object
seconds              1032676 non-null object
dtypes: int64(8), object(5)
memory usage: 110.3+ MB

In [18]:
d = ['clicks','hours','minute','seconds']
for i in d:
    com.remove(i)

In [19]:
df_train = df_train[1:5000]

In [20]:
sum = 0
for f in com:
    dfg = np.unique(list(df_train[f].values))
    print len(dfg), f

310 placement_id
15 browser_id
10 os_id
57 region
8 country
181 campaign
506 creative_asset_id
2 mouseovers
2 viewable

In [21]:
for i in df_train.columns:
    if (i != 'placement_id') and (i != 'creative_asset_id') and (i != 'browser_id'):
        print pd.DataFrame(pd.value_counts(df_train[i]))

    os_id
2    2835
3     760
8     608
5     513
7     192
10     59
4      22
1       4
9       3
0       3
     region
CA      469
TX      459
NY      330
FL      314
PA      257
OH      226
IL      205
MI      194
NJ      189
NC      160
VA      157
-1      145
GA      140
WA      113
MA      111
MD      100
IN       96
MO       95
AZ       94
WI       88
TN       85
CO       84
AL       73
SC       70
MN       69
OR       56
KY       55
CT       53
KS       50
IA       43
OK       42
LA       30
NE       27
NM       27
ME       25
AR       25
MS       24
UT       24
WV       23
NV       19
NH       18
DE       18
VT       15
HI       15
ID       15
DC       14
RI       14
MT       12
ND        9
SD        7
AK        5
WY        5
MAN       2
DL        1
NSW       1
AB        1
PUE       1
    country
US     4982
-1       10
GB        2
ID        1
IN        1
AU        1
CA        1
MX        1
        campaign
326815      1184
328060       273
328579       172
328586       117
327705       102
327660        95
327709        93
328026        91
328591        83
327708        80
327711        78
323670        77
323675        74
323529        73
327702        70
328197        63
328478        59
327659        57
328476        54
327706        54
328592        53
326006        53
328196        50
328194        48
328580        47
326891        46
328195        44
328639        38
323671        38
323676        37
...          ...
328149         2
327971         2
328205         2
328085         2
327955         1
328422         1
327888         1
327868         1
327852         1
327885         1
326432         1
327926         1
328636         1
328159         1
314838         1
328634         1
328202         1
327870         1
327874         1
328436         1
327846         1
327847         1
327262         1
328152         1
328812         1
326506         1
326482         1
326612         1
328521         1
328826         1

[181 rows x 1 columns]
   mouseovers
0        4692
1         307
   clicks
0    4986
1      13
   viewable
0      3281
1      1718
    hours
00   4999
    minute
04     973
03     963
01     892
02     836
00     707
05     628
    seconds
22      108
01      106
29      105
09      103
00      102
12       99
07       96
39       94
27       94
31       94
30       93
15       92
38       92
13       91
25       91
14       90
34       90
03       90
32       90
52       88
10       88
37       88
21       87
28       87
04       86
24       86
36       86
23       85
19       85
40       84
54       84
26       83
18       83
02       83
42       83
57       82
11       81
17       80
16       80
20       80
45       80
53       80
35       80
47       78
05       77
41       76
58       74
08       72
50       71
46       70
06       70
44       69
56       67
33       67
43       67
51       66
49       65
48       64
59       59
55       58

In [22]:
for f in com:
    df_all_dummy = pd.get_dummies(df_train[f], prefix=f)
    df_train = df_train.drop([f], axis=1)
    df_train = pd.concat((df_train, df_all_dummy), axis=1)

In [23]:
for dfgs in com:
    affiliate_channel_maxs = []
    affiliate_channel_maxs_dict = {}
    affiliate_channel_maxs = list(enumerate(np.unique(df_train[dfgs])))
    affiliate_channel_maxs_dict = { name : i for i, name in affiliate_channel_maxs }
    df_train[dfgs] = df_train[dfgs].map(lambda x: affiliate_channel_maxs_dict[x]).astype(int)

In [24]:
df_train

,placement_id,browser_id,os_id,region,country,campaign,creative_asset_id,mouseovers,clicks,viewable,hours,minute,seconds
1,294,4,5,24,7,101,237,0,0,1,00,00,00
2,249,3,3,39,7,80,178,0,0,0,00,00,00
3,6,12,2,28,7,34,502,0,0,1,00,00,00
4,275,3,2,12,7,54,228,0,0,0,00,00,00
5,157,12,2,19,7,34,501,0,0,1,00,00,00
6,157,12,2,48,7,161,464,0,0,0,00,00,00
7,157,3,2,49,7,34,502,0,0,1,00,00,00
8,244,2,2,31,7,95,117,0,0,1,00,00,00
9,157,12,2,13,7,34,501,0,0,1,00,00,00
10,6,3,7,51,7,31,102,1,0,1,00,00,00
11,291,3,2,6,7,20,91,0,0,0,00,00,00
12,265,3,2,27,7,61,230,0,0,0,00,00,00
13,254,3,2,43,7,140,380,0,0,0,00,00,00
14,162,12,2,39,7,122,181,0,0,1,00,00,00
15,157,3,2,28,7,34,502,0,0,0,00,00,00
16,22,3,2,6,7,129,273,0,0,0,00,00,00
17,188,3,2,40,7,34,503,0,0,1,00,00,00
18,157,14,2,40,7,34,501,1,0,1,00,00,01
19,157,3,2,54,7,34,503,0,0,0,00,00,01
20,157,2,7,43,7,34,502,0,0,0,00,00,01
21,48,3,2,49,7,46,83,0,0,0,00,00,01
22,273,12,2,6,7,20,87,0,0,0,00,00,01
23,182,4,5,18,7,2,36,0,0,1,00,00,01
24,157,3,2,35,7,34,501,0,0,0,00,00,01
25,188,3,4,49,7,34,503,0,0,0,00,00,01
26,157,3,2,53,7,34,502,0,0,0,00,00,01
27,6,4,7,51,7,34,503,0,0,1,00,00,01
28,92,4,5,49,7,46,82,0,0,0,00,00,01
29,94,13,0,0,0,54,228,0,0,0,00,00,01
30,6,2,2,3,7,34,503,0,0,1,00,00,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,73,3,2,7,7,147,395,0,0,0,00,05,38
4971,291,12,2,8,7,151,420,0,0,0,00,05,38
4972,157,3,2,22,7,34,501,1,0,1,00,05,38
4973,14,4,5,13,7,10,66,0,0,0,00,05,38
4974,157,2,2,10,7,34,501,0,0,0,00,05,38
4975,157,3,2,53,7,34,502,1,0,1,00,05,38
4976,157,12,2,51,7,34,501,0,0,0,00,05,38
4977,157,3,2,17,7,97,485,1,0,1,00,05,39
4978,269,3,2,6,7,138,363,0,0,0,00,05,39
4979,6,4,7,24,7,34,501,0,0,0,00,05,39
4980,205,3,3,41,7,77,195,0,0,1,00,05,39
4981,276,12,2,17,7,151,422,0,0,1,00,05,39
4982,194,3,3,39,7,37,125,0,0,0,00,05,39
4983,260,2,2,35,7,80,178,0,0,1,00,05,39
4984,149,12,2,8,7,155,456,0,0,0,00,05,39
4985,149,4,6,8,7,161,339,0,0,1,00,05,39
4986,248,3,7,5,7,36,125,0,0,0,00,05,39
4987,157,2,7,19,7,34,501,0,0,1,00,05,39
4988,246,3,3,43,7,115,318,0,0,0,00,05,39
4989,99,3,3,53,7,19,93,0,0,0,00,05,39
4990,264,3,3,39,7,170,112,0,0,1,00,05,39
4991,157,3,2,5,7,34,502,0,0,0,00,05,39
4992,275,3,2,39,7,153,356,1,0,1,00,05,39
4993,246,4,5,6,7,10,66,0,0,1,00,05,40
4994,157,2,2,43,7,123,350,1,0,1,00,05,40
4995,232,3,2,25,7,174,109,0,0,0,00,05,40
4996,294,4,5,6,7,21,94,0,0,1,00,05,40
4997,6,3,9,6,7,34,501,1,0,0,00,05,40
4998,276,12,2,20,7,1,35,0,0,0,00,05,40
4999,232,3,2,40,7,114,316,0,0,1,00,05,40

In [25]:
for i in df_train.columns:
    df_train[i] = df_train[i].astype(int)

In [26]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4999 entries, 1 to 4999
Data columns (total 13 columns):
placement_id         4999 non-null int64
browser_id           4999 non-null int64
os_id                4999 non-null int64
region               4999 non-null int64
country              4999 non-null int64
campaign             4999 non-null int64
creative_asset_id    4999 non-null int64
mouseovers           4999 non-null int64
clicks               4999 non-null int64
viewable             4999 non-null int64
hours                4999 non-null int64
minute               4999 non-null int64
seconds              4999 non-null int64
dtypes: int64(13)
memory usage: 546.8 KB

In [27]:
# #Greedy add 1 by 1
# scr = []
# c = list(df_train.columns)
# c.remove('clicks')
# for t in range(800):
#     score={}
#     for f in c:
#         if f in scr:
#             pass
#         else:
#             scr.append(f)
#             scr.append('clicks')
#             xz=df_train[scr]
#             xz = xz.dropna()
#             y_t=xz['clicks']
# #             print y_t.shape
#             if len(y_t.index) == 0:
#                 scr.remove(f)
#                 scr.remove('clicks')
#                 continue
#             x_t=xz.drop(['clicks'],axis=1)
# #             print x_t.shape
#             log_model = linear_model.LogisticRegression(penalty='l1',solver='liblinear',multi_class='ovr')
#             #log_model.fit(pd.DataFrame(xz[scr]), pd.DataFrame(xz['Response']))
#             log_model.fit(x_t,y_t)
#             score[f]=log_model.score(x_t,y_t)
#             #score.append([f,log_model.score(pd.DataFrame(xz[scr]),pd.DataFrame(xz['Response']))])
#             scr.remove(f)
#             scr.remove('clicks')
# #     sorted_score = sorted(score.items(), key=operator.itemgetter(1))
# #     print sorted_score
#     scr.append(max(score.iteritems(), key=operator.itemgetter(1))[0])

In [28]:
# scr

In [29]:
train_y = df_train['clicks']

In [30]:
train_x = df_train.drop(['clicks'], axis=1)

In [33]:
# from xgboost.sklearn import XGBClassifier
# xgg = XGBClassifier(max_depth=6, learning_rate=0.3, n_estimators=25,
#                     objective='binary:logistic', subsample=0.5, colsample_bytree=0.5, seed=0)
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, min_samples_split=10, random_state=415)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = cross_validation.cross_val_score(forest, train_x, train_y, cv=3)
# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.997399559704